
<% if @query and not @query.empty? %>
  <h2> Products Found </h2>
  <p>Searched for words containing [ <%= @query.join(" | ") %> ]</p>
<% else %>
  <h2> Listing All Products </h2>
<% end %>


<%= render 'catalog_listing' %>
