

<h1> About eBazaar </h1>

<p>This site/app is designed and created by ERDINC ATILGAN to practice with "Ruby on Rails" and for demonstrative pupposes. </p>

<p>Basicly this app is a vitual store that one can see and search items/products on the display, choose them (i.e. put them into the shoppign cart) and check out to put the order in place. </p>

<p>Well, does the world need another shopping app? Frankly, not really, but it is a comprehensive illustration for many of the features of Rails development. In a nut shell, this app has users, their products, carts and orders in the database and to manage the information/data flow between these tables we have many session controllers, order controllers, display pages, forms and lots of links that make the connections between.</p>

<h3>Features:</h3>
<ul> 
  <li> <strong> Users </strong> Users are oweners of the items. Only signed up users of the site can advertise and manage their items. Once they logged in, they will be able to add new items, edit and delete them; but they can not edit or delete the other items that they do not own (i.e. items that someone else posted to the site). A user can also delete his/her own account if they want to do so. </li>
  <li> <strong> Administrators </strong> As super users, admin users have more privileges. Once they logged in 1) They can see all the users and manage them (add/edit/delete) 2) They can see all the products and manage them (add/edit/delete) 3) They can see and edit other admins and they can manage each other. 4) Minumum number of admins is one. The last admin can not be deleted. </li>
  <li> <strong> Remembering the computer </strong> If chosen, the site remembers the computer for easy login by bypassing the login entry form. It remembers the user on the next site visit when the browser is closed by the user. When logged out the feature resets, meaning user has to login in next visit. </li>
  <li> <strong> Reset password feauture </strong> Forgetten password can be reset through automatic emailing from the site. Expires in 2 hours. </li>
  <li> <strong> Account activation feature </strong> Through automatic email corfirmation, the account has to be activated by the link sent to email address. If some reason the user does not activate the account there axist a link to resend activation link. </li>
  <li> <strong> Shopping cart </strong> Any one (meaning, without logging into the app) can put items to the shopping cart and send an order (ckecking out). The order form asks about paymet type, address and such but no further information will be collected. Since this is a mock app you won't be recieving any thing on the mail either... just to be very clear about it :-) Hence just provide some FAKE info please. However, if you choose to enter a correct email adreess during the check out process, you will recieve a confirmational email about the order which is again a mock email ... Thanks, in advance, if you try and test it. </li>
</ul>


<h4> NOTES: </h4>
<ul>
  <li>In user model I did NOT use gem "devise" to practice the basics of sessions controlling.</li>
  <li>There are many details that can be improved. I am aware of those. In time I will make the site better. </li>
  <li>For your suggestions, critique and challenges please email me: <%= link_to "erdinc.atilgan@gmail.com" %></li>
  <li>THANKS </li>
<ul>

