// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.products{
	padding:20px;
	color: black;
	table{
		border: 1px solid black;
	}
	thead{
		background: gray;
	}
	tbody{
		background: yellow;
	}
}
.show-image{
	max-width: 400px;
	max-height: 400px;
}*/